<div class="form-box">
    <h1 #title>Sign Up</h1>
    <form>
        <div class="input-group">
            <!-- UserName -->
            <div class="input-field">
                <i class="fa-solid fa-user"></i>
                <input type="text" placeholder="Name">
            </div>

            <!-- Email -->
            <div class="input-field">
                <i class="fa-solid fa-envelope"></i>
                <input type="email" placeholder="Email">
            </div>

            <!-- Password -->
            <div class="input-field">
                <i class="fa-solid fa-lock"></i>
                <input type="password" placeholder="Password">
            </div>
            <p>Lost Password <a href="#">Click Here!</a></p>

            <!-- Button -->
        <div class="btn-field">
            <button type="button" [routerLink]="['/signup']">Sign up</button>
            <button type="button" class="disable" [routerLink]="['/login']">Log in</button>
        </div>
        </div>
    </form>
</div>